# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.vscode/
data-preprocessing/ipynb_checkpoints/
uav123_anno/
results/
pytorch-retinanet/retinanet/__pycache__/
/pytorch-retinanet/output_images/

# Executables
*.swf
*.air
*.ipa
*.apk

# Models
*.pt
*.pth
*.pyc

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
